body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  font-weight: 500;
}
li
{
  font-size: 18px;
  font-weight: 400;
}
.navbar
{
  background-color: rgb(34, 31, 31);
  height: 120px;
  color:white;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.navbar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  
}
.navbar li{
  float: left;
  padding: 20px;
  display: block;
  padding: 8px;
}

.navbar a{
  color: white;
  font-size: 18px;
  font-weight: 600;

}
.navbar img{
  height: 90px;
  position: absolute;
  top: 8px;
  left: 16px;
  border-radius: 15%;
  
}
nav{
  position: absolute;
  right: 80px;
}
.active{
  background-color: #f34a3e;
  padding: 10px;
  border-radius: 15px;

}
.navbar li a:hover:not(.active) {
  background-color: rgb(223, 89, 89);
  padding: 10px;
  border-radius: 10px;

}
.main-content{
  text-align: center;
}
.main-content img{
  border-radius: 20px;
}
.bottom-footer{
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 30px;
  right: 20px;
  margin: auto;
  padding: auto;
}